<header>
  <div class="header-logo">
    CRUD Simple
  </div>
  <div class="header-menus">
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/data">Data</a></li>
    </ul>
  </div>
</header>

<div class="about-main">
  <h1>CRUD Simple</h1>
  <h2>Disini datanya</h2>
</div>