<header>
  <div class="header-logo">
    CRUD Simple
  </div>
  <div class="header-menus">
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/data">About</a></li>
    </ul>
  </div>
</header>

<div class="main top-main">
  <div class="top-message">
    <h1>CRUD Simple</h1>
    <h2>CRUD Simple adalah aplikasi CRUD sederhana yang dibuat dengan menggunakan framework Rails</h2>
  </div>
</div>
